<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.ChattingMapper">
	<select id="chattingroom"
		parameterType="com.smhrd.model.CustomerDTO"
		resultType="com.smhrd.model.chattingRoomDTO">
		select *
		from CHAT_ROOMS
		where CUST_ID = #{cust_id}
	</select>

	<insert id="creat"
		parameterType="com.smhrd.model.chattingRoomDTO">
		insert into CHAT_ROOMS(ROOM_IDX,ROOM_TITLE, ROOM_INFO,
		CUST_ID,
		CREATED_AT, ROOM_LIMITS, ROOM_STATUS)
		values(CHAT_ROOMS_SEQ.NEXTVAL,#{cust_id}||'님과 '||#{room_info}||'님의
		채팅방', #{room_info}, #{cust_id},
		SYSDATE, 2, 'GOOD')
	</insert>

	<select id="chat" parameterType="com.smhrd.model.chatDTO"
		resultType="com.smhrd.model.chatDTO">
		select *
		from CHATTINGS
		where ROOM_IDX = #{room_idx}
		order by
		room_idx asc
	</select>

	<insert id="chatting" parameterType="com.smhrd.model.chatDTO">
		insert into CHATTINGS(CHAT_IDX,ROOM_IDX, CHATTER, CHATTING,
		EMOTICON,CHAT_FILE,
		CHATTED_AT)
		values(CHATTINGS_SEQ.NEXTVAL,#{room_idx}, #{chatter},
		<if test="chatting != null">#{chatting}</if>
		<if test="chatting == null">NULL</if>
		,
		<if test="emoticon != null">#{emoticon}</if>
		<if test="emoticon == null">NULL</if>
		,
		<if test="chat_file != null">#{chat_file}</if>
		<if test="chat_file == null">NULL</if>
		,SYSDATE)
	</insert>
</mapper>
